body {
  background-color: #496d99;
  font-size: 25px;
  font-family: 'Comic Neue', cursive;
}
h1 {
  color: #5f82ad;
  font-size: 50px;
}
.main-header {
  color: #5f82ad;
  text-align: center;
  margin-top: 50px;
}
.title-background {
  background-color: #faf1e6;
  padding: 1px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.blog-background {
  background-color: #faf1e6;
  padding: 50px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-radius: 10px;
  border-style: solid;
  border-color: #BFB2A3;
  border-width: 20px;
}
.blog-title {
  color: #5f82ad;
  text-align: center;
  margin-top: 10px;
}
.picture {
  width: 500px;
}
#link {
  font-family:Georgia, 'Times New Roman', Times, serif;
}