body {
  background-color: #496d99;
  font-size: 25px;
}
h1 {
  color: blueviolet;
  font-size: 50px;
}
.main-header {
  color: #5f82ad;
  text-align: center;
  margin-top: 50px;
}
.title-background {
  background-color: #faf1e6;
  padding: 1px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
